body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
  }
  
  .jumbotron {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
  }
  
  .custom-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .custom-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .custom-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .custom-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-form button:hover {
    background-color: #0056b3;
  }
  
  .custom-form p {
    text-align: center;
    margin-top: 15px;
  }
  